@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

a {
  cursor: pointer;
}

.username {
  color: rgb(30, 135, 255);
}

button.btn {
  width: 10rem;
}
