.fee-text {
    margin-bottom: 7px;
    margin-left: 7px; /* make sure to close with a semicolon */
    /* You mentioned it's equivalent to md:ml-1, but since it's commented out, I left it as is */
}

.compbanner {
    border-radius: 0%;
    height: 30vh;
    width: auto;
}

.regbox{
    color: white;
    border-radius: 10px;
    transition: border-radius 0.2s ease-in;
}

.regbox:hover {
    border-radius: 40px;
    margin-left: 2px;
}

.main-container1 {
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 0.3px solid grey;
    box-shadow: 3px 3px 3px rgb(186, 183, 183);
    transition: box-shadow 0.3s; /* Adding transition for smooth effect */
}

.main-container1:hover {
    box-shadow: 3px 3px 3px rgb(53, 52, 52);
}

.regbutton{
    border-radius: 20px;
}